@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant ink (&:where(.ink, .ink *));
@custom-variant fun (&:where(.fun, .fun *));




@utility doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

@utility radon {
  font-family: "Monaspace Radon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

body {
  font-family: "Mona Sans", sans-serif;
}

section{
  @apply relative z-10;
}

.currently a strong{
  @apply text-amber-500 font-bold transition-all duration-300
}

.lead a{
  @apply transition-all duration-300 underline underline-offset-4 decoration-amber-400 decoration-4
}

a.not-hover {
  @apply decoration-amber-400/20;
}

.dark {
  @apply text-white
}

.dark .lead a{
  @apply decoration-yellow-400
}

.dark .currently a strong{
  @apply text-yellow-400
}

.dark .border-amber-400{
  @apply border-yellow-400
}

.dark a.not-hover {
  @apply decoration-yellow-400/20;
}

.ink{
  @apply text-gray-800 doto
}

.ink img, .ink .thumb{
  @apply grayscale;
}

.ink .currently a{
  @apply font-normal
}

.ink .currently a strong{
  @apply text-gray-800 font-bold
}

.ink .lead a{
  @apply decoration-gray-800
}

.ink .border-amber-400{
  @apply border-gray-800
}

.ink a.not-hover {
  @apply decoration-dashed;
}

.ink #shade{
  @apply hidden
}

.fun {
  @apply radon
}

.fun .lead a{
  @apply decoration-white
}

.fun .currently a strong{
  @apply text-white
}

.fun .border-amber-400{
  @apply border-red-800
}

.fun a.not-hover {
  @apply decoration-white/20;
}
